
.contactUsSection{
    width: 100%;
    margin: 0 auto;
}


  .title {
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  @media (min-width: 600px) {
    .title {
      font-size: 1.6rem;
    }
  }

  @media (min-width: 990px) {
    .title {
        font-size: 2rem;
      }
      .contactUsSection{
        width: 50%;
    }
  }