.carouselContainer {
  width: 100%;
  margin: 0 auto;
  /* max-width: 1030px; */
}

/* .slide {
  height: 650px;
} */

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: grey;
}
.imageEvent {
  width: 100%;
  aspect-ratio: 3/2;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 4px;
}

.textContainer h2 {
  font-size: x-large;
  font-weight: bold;
}
